* {
  box-sizing: border-box;
  margin: 0;
}
p{
  margin: 0px;
}

main{
  margin: 50px 100px;
}

.description{
  font-style: italic;
}


.info{
  border-radius: 8px;
  padding: 10px;
  box-shadow: 18px 10px 15px -3px rgba(0,0,0,0.1);
}

.info1{
  border-right: 1px solid lightslategray;
  border-bottom: 1px solid lightslategray;
}

.info2{
  border-bottom: 1px solid lightslategray;
}

.info3{
  border-right: 1px solid lightslategray;
}

.info-title{
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.info-icon{
  font-size: 1.8rem;
}

.eth-world{
  border-radius: 10px;
  overflow: hidden;
}

.eth-world img{
  opacity: .45;
}

.table{
  border-radius: 8px;
  padding: 10px;
  box-shadow: 18px 10px 15px -3px rgba(0,0,0,0.1);
}

.table-title{
  border-bottom: 1px solid lightslategray;
}

.gas{
  color: #2981e3;
  border: 1px solid #2981e3;
  padding: 2px 5px;
  border-radius: 6px;
}

.seach-form{
  display:flex;
  width: 50%;
}

.select-div{
  display: flex;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 890px) {
  main{
    margin: 20px;
  }
  .info1{
    border-right: none;
    border-bottom: 1px solid lightslategray;
  }
  
  .info2{
    border-bottom: 1px solid lightslategray;
  }
  
  .info3{
    border-bottom: 1px solid lightslategray;
    border-right:none;
  }

  .col{
    width: 100vw;
  }

  .img-eth{
    height: 250px;
    width: auto;
    object-fit: cover;
  }

  .gas{
    color: #2981e3;
    border: none;
    padding: 0px;
  }
  .seach-form{
    display:flex;
    width: 100%;
  }
}